# macOS
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
.fseventsd/
.DocumentRevisions-V100

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
Thumbs.db:encryptable


#myfiles
notes/
config/
